@import "tailwindcss";


@theme {
  --color-accent-yellow:#dbfa19;
  --color-light-yellow:#d9f851;
}

body {
  font-family: var(--font-general-sans),  sans-serif;
}

h1, h2 {
  font-family: var(--font-eurostile), sans-serif!important;
}

.bannerSection{
  background-size:cover; 
  background-position: center;
  background-repeat:no-repeat;
}
.homeBanner{
  background-image:url('/imgs/banners/detail-that-delivers.jpg')
}

.servicesBanner{
  background-image:url('/imgs/banners/banner-services.jpg')
}

.bookBanner{
  background-image:url('/imgs/banners/banner-get-a-quote-today.jpg')
}