@import "tailwindcss";


@theme {
  --color-accent-yellow:#dbfa19;
  --color-light-yellow:#d9f851;
}

body {
  font-family: var(--font-general-sans), sans-serif;
}

h1, h2 {
  font-family: var(--font-eurostile), sans-serif;
}

.bannerSection{
  background-size:cover; 
  background-position: center;
  background-repeat:no-repeat;
}
.homeBanner{
  background-image:url('/imgs/detail-that-delivers.jpg')
}